@charset "UTF-8";
@import 'sass-eo-basics';

@mixin box-props() {
	background: rgba(99, 99, 99, 0.521);
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
	backdrop-filter: blur(5px) !important;
	border-radius: 7px;
}

@mixin hr-style() {
	width: __convertToRem($value: 280px);
	height: __convertToRem($value: 1.2px);
	border: 0;
	background-image: -webkit-linear-gradient(
		left,
		#f0f0f011,
		#8c8b8b,
		#f0f0f011
	);
	background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
	background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
	background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}

@mixin check-style($color: #2196f3) {
	.check-container {
		display: block;
		position: relative;
		padding-left: 35px;
		margin-bottom: 12px;
		cursor: pointer;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	.check-container input {
		position: absolute;
		opacity: 0;
		cursor: pointer;
		height: 0;
		width: 0;
	}

	.checkmark {
		position: absolute;
		top: 0;
		left: 0;
		height: 25px;
		width: 25px;
		background-color: rgba(238, 238, 238, 0.61);
		transition: all 0.02s;
	}

	.check-container:hover input ~ .checkmark {
		border: solid 2px $color;
		background-color: #ccc;
	}

	.check-container input:checked ~ .checkmark {
		background-color: $color;
	}

	.checkmark:after {
		content: '';
		position: absolute;
		display: none;
	}

	.check-container input:checked ~ .checkmark:after {
		display: block;
	}

	.check-container .checkmark:after {
		left: 9px;
		top: 5px;
		width: 5px;
		height: 10px;
		border: solid rgba(255, 255, 255, 0.829);
		border-width: 0 3px 3px 0;
		-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		transform: rotate(45deg);
	}
}

@mixin input-style($primary_color, $secondary_color) {
	$primary: $primary_color;
	$secondary: $secondary_color;
	$white: rgb(224, 224, 224);
	$gray: #9b9b9b;
	.form__group {
		position: relative;
		padding: 15px 0 0;
		margin-top: 10px;
		width: 150%;
	}

	.form__field {
		font-family: inherit;
		width: 100%;
		border: 0;
		border-bottom: 2px solid $gray;
		outline: 0;
		font-size: 1rem;
		color: $white;
		padding: 7px 0;
		padding-top: 1rem;
		background: transparent;
		transition: border-color 0.2s;

		&::placeholder {
			color: transparent;
		}

		&:placeholder-shown ~ .form__label {
			font-size: 1.3rem;
			cursor: text;
			top: 20px;
		}
	}

	.form__label {
		position: absolute;
		top: 0;
		display: block;
		transition: 0.2s;
		font-size: 1rem;
		color: $gray;
	}

	.form__field:focus {
		~ .form__label {
			position: absolute;
			top: 0;
			display: block;
			transition: 0.2s;
			font-size: 1rem;
			color: $primary;
			font-weight: 700;
		}
		padding-bottom: 6px;
		font-weight: 700;
		border-width: 3px;
		border-image: linear-gradient(to right, $primary, $secondary);
		border-image-slice: 1;
	}

	.form__field {
		&:required,
		&:invalid {
			box-shadow: none;
		}
	}
}

@mixin btn-style() {
	background-color: $theme1;
	padding: 0.2rem 1rem;
	border-radius: 7px;
}