@charset "UTF-8";

@import "@raja-rakoto/plum/plum";

@import "../../styles/sass/mixins";
@import "../../styles/sass/colors";

.chrono {
	@include box-props();
	padding: 2rem;
	margin: 2rem;

	h3 {
		font-size: __convertToRem($value: 20px);
	}

	.stopwatch {
		@include flex-center();
		flex-direction: column;
		text-align: center;

		button {
			@include btn-style($theme: $theme1);
			margin: 0.35rem;
			padding: 0.5rem;
			background-color: #696969;
		}

		@mixin display-chrono($theme: #bebebe) {
			font-size: 30px;
			border: solid 10px $theme;
			border-radius: 100%;
			padding: 2rem;
			margin: 1.5rem;
			min-width: __convertToRem($value: 150px);
			max-width: __convertToRem($value: 150px);
		}

		&__display {
			@include display-chrono();

			&--runing {
				@include display-chrono($theme: $theme1);
			}
		}

		&__history {
			font-size: larger;
			font-weight: bolder;

			button {
				&:hover {
					background-color: $theme1;
				}
			}
		}
	}

	ul {
		margin-top: __convertToRem($value: 20px);
		list-style-type: none;
		padding: 0;
		max-height: __convertToRem($value: 100px);
		overflow-y: scroll;
		border: solid 2px $theme1;
		border-radius: 10px;
	}

	li {
		padding: 5px;
		border-bottom: 1px solid #b66646;
		font-size: __convertToRem($value: 21px);
	}

	li:last-child {
		display: none;
	}
}
