@charset "UTF-8";

@import 'sass-eo-basics';
@import '../sass/mixins';
@import '../sass/colors';
@import '../sass/notify';

@include loadify(init);
@include check-style($theme1);
@include input-style($theme1, $theme1);
@include notify();

/* navbar styles */
nav {
	@include position-flex-center();

	ul {
		@include box-props();
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
		list-style-type: none;
		min-width: __convertToRem($value: 200px);
		max-width: max-content;
		height: min-content;
		padding: 2rem;

		li {
			button {
				background-color: $theme3;
				padding: 0.5rem 1rem;
				border-radius: 10px;
				border: none;
				transition: 0.2s;
				margin: 1rem;
				border: solid $theme1 3px;

				a {
					text-decoration: none;
				}

				&:hover {
					background-color: $theme1;
				}
			}
		}
	}
}

/* banner styles */
#banner {
	height: 100vh;
	padding-top: 6rem;

	header {
		@include loadify(0.3s);
		margin-bottom: 3.8rem;

		.logo {
			@include image-responsive($height: auto);
			max-width: __convertToRem($value: 330px);
			margin: 1rem;
		}

		.version_author {
			margin-top: 1rem;
			font-size: 0.9rem;
			padding: 0.5rem;
			@include box-props();
		}

		.description {
			text-align: center;
		}

		.enter-btn {
			@include position-flex-center();
			@include loadify(0.3s);
		}
	}
}

/* sections styles */
section {
	.header {
		@include position-flex-center();
		margin-top: 1rem;
		flex-direction: column;

		h1 {
			margin-top: 1rem;
		}
	}

	.content {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		padding: 3rem;
	}
}

/* todo styles */
.todo {
	@include box-props();
	width: fit-content;
	max-width: __convertToRem($value: 800px);
	height: auto;
	padding: 1.5rem;
	margin: 1.5rem;
	padding-right: 2.8rem;

	@include breakpoint(min, 720px) {
		min-width: __convertToRem($value: 558px);
	}

	ul {
		@include position-flex-center();
		font-size: __convertToRem($value: 12px) !important;
		flex-direction: column;
		list-style-type: none;

		li {
			border: solid #eee 1px;
			width: fit-content;
			max-width: __convertToRem($value: 400px);
			margin: 0.5rem;
			padding-top: 0.8rem;
			padding-left: 0.5rem;
			padding-right: 0.5rem;
			border-radius: 10px;
			transition: all 0.3s;

			&:hover {
				@include animation-scale($scaleValue: 1.05);
				background-color: $theme-bg;
			}
		}
	}

	&-header {
		@include position-flex-center();
		margin-left: 1.3rem;
		flex-direction: column;
	}

	&-list {
		margin-right: 1rem;
	}

	&-footer {
		@include position-flex-center();
		flex-direction: column;
		gap: 1.8rem;
		margin-top: 1rem;
		margin-left: -3.5rem;

		button {
			@include btn-style();
			margin-left: 3.8rem;
		}
	}
}

/* traker styles */
.tracker {
	@include box-props();
	padding: 2rem;
	border-radius: 10px;
	max-width: __convertToRem($value: 904px);
	min-width: __convertToRem($value: 845px);
	@include breakpoint(max, 845px) {
		min-width: 100%;
	}

	@include breakpoint(max, 444px) {
		min-width: __convertToRem($value: 348px);
	}

	&-header {
		min-width: __convertToRem($value: 215px);
		padding: 1rem;

		h2 {
			font-size: __convertToRem($value: 23px);
			text-align: center;
		}

		div {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;

			button {
				@include btn-style($theme: $theme3);
				margin: 0.5rem;
				padding: 0.5rem;

				img {
					@include image-responsive($height: 50px);
				}
			}

			.btn-clicked {
				background-color: $theme1;
			}
		}
	}

	&-content {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;

		.item {
			border: solid #eee 1px;
			border-radius: 10px;
			width: fit-content;
			padding: 1rem;
			margin: 1rem;
			transition: all 0.3s;

			&:hover {
				@include animation-scale($scaleValue: 1.03);
				background-color: $theme-bg;
			}

			h3 {
				text-align: center;
			}

			ul {
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;
				gap: 0.5rem;
				flex-wrap: wrap;
				list-style-type: none;
				margin-left: -2rem;
				margin-right: 0.2rem;

				li {
					padding: 0.5rem;
					border-radius: 5px;
				}
			}

			button {
				opacity: 50%;
				border-radius: 100%;
				padding-top: 0.3rem;
				border: none;
				margin: 0.3rem;

				&:hover {
					opacity: 85%;
				}

				&:active {
					transition: 0.02s;
					transform: scale(0.95);
					box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
				}
			}
		}
	}
}

/* swiper styles */
.swiper {
	max-width: __convertToRem($value: 350px);
	margin-top: 2rem;
	margin-bottom: 3.2rem;

	&-item {
		@include position-flex-center();
		flex-direction: column;
		padding: 2rem;
		padding-top: 3rem;
		height: auto;
		min-height: __convertToRem($value: 400px);

		h2 {
			text-align: center;
		}

		hr {
			@include hr-style();
		}

		ul {
			list-style-type: none;

			li {
				font-size: __convertToRem($value: 16px) !important;
				line-height: 1.2rem;
				margin-top: 1.2rem;
			}

			li::before {
				list-style-type: none;
				content: '\2022';
				color: $theme1;
				font-weight: bolder;
				display: inline-block;
				width: 1em;
				margin-left: -1em;
			}
		}
	}

	&-icon {
		@include position-flex-center();
	}

	&-slide {
		@include box-props();
		@include position-flex-center();
	}
}

/* react-icons styles */
.delete-icon {
	float: right;
	background-color: rgba(255, 68, 0, 0.24);
	border-radius: 5px;
	font-size: 22px;
	margin-left: 0.3rem;
	padding: 0.2rem;
	transition: all 0.3s;

	&:hover {
		background-color: rgba(255, 68, 0, 0.541);
	}
}

/* swal styles */
.swal2-popup {
	background-color: rgba(68, 68, 68, 0.96) !important;
	width: fit-content !important;
	min-width: __convertToRem($value: 222px) !important;
	max-width: __convertToRem($value: 1000px) !important;
	animation-duration: 0.4s !important;

	ul {
		all: initial;
		li {
			margin-left: 2rem;
		}
	}
}

.swal2-title {
	color: $theme1 !important;
}

.swal2-confirm {
	display: none !important;
}

body.swal2-shown > [aria-hidden='true'] {
	transition: 0.1s filter;
	filter: blur(10px);
}

.swal--anim-show {
	@include animation-zoom($in-out: in);
}

.swal--anim-hide {
	@include animation-zoom($in-out: out);
}
