@charset "UTF-8";

@import 'sass-eo-basics';
@import '../sass/mixins';
@import '../sass/colors';
@import '../sass/notify';
@import 'sass-eo-lib-magic';

@include loadify(init);
@include check-style($theme1);
@include input-style($theme1, $theme1);
@include notify();

/* navbar styles */
nav {
	@include position-flex-center();

	ul {
		@include box-props();
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
		list-style-type: none;
		min-width: __convertToRem($value: 200px);
		max-width: max-content;
		height: min-content;
		padding: 2rem;

		li {
			button {
				background-color: $theme3;
				padding: 0.5rem 1rem;
				border-radius: 10px;
				border: none;
				transition: 0.2s;
				margin: 1rem;
				border: solid $theme1 3px;

				a {
					text-decoration: none;
				}

				&:hover {
					background-color: $theme1;
				}
			}
		}
	}
}

/* float nav styles */
.float {
	&-nav {
		@include box-props();
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 5rem;
		width: __convertToRem($value: 72px);
		height: 90%;
		padding: 1rem;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 1 !important;
		background: rgb(126, 126, 126);
		background: linear-gradient(
			90deg,
			rgba(126, 126, 126, 1) 0%,
			rgba(65, 65, 65, 1) 0%,
			rgba(78, 78, 78, 1) 56%,
			rgba(102, 102, 102, 1) 100%
		);
		@include position-center($axis: vertical);

		&-btn {
			text-align: center;
			background-color: #444;
			color: #eee;
			padding: 1rem;
			width: 100%;
			height: __convertToRem($value: 62px);
			border-radius: 10px;

			&:hover {
				background-color: $theme1;
			}
		}

		@include breakpoint(max, 1157px) {
			flex-direction: row;
			width: 50%;
			min-width: __convertToRem($value: 331px);
			height: __convertToRem($value: 62px);
			top: unset;
			bottom: 0 !important;
			@include position-center($axis: horizontal);
			gap: 1rem;
			background: rgb(126, 126, 126);
			background: linear-gradient(
				0deg,
				rgba(126, 126, 126, 1) 0%,
				rgba(65, 65, 65, 1) 0%,
				rgba(78, 78, 78, 1) 56%,
				rgba(102, 102, 102, 1) 100%
			);

			&-btn {
				height: 100%;
				width: __convertToRem($value: 72px);
			}
		}
	}
}

/* banner styles */
#banner {
	height: 100vh;
	padding-top: 6rem;

	header {
		@include loadify(0.3s);
		margin-bottom: 3.8rem;

		.logo {
			@include image-responsive($height: auto);
			max-width: __convertToRem($value: 330px);
			margin: 1rem;
		}

		.version_author {
			margin-top: 1rem;
			font-size: 0.9rem;
			padding: 0.5rem;
			@include box-props();
		}

		.description {
			text-align: center;
		}

		.enter-btn {
			@include position-flex-center();
			@include loadify(0.3s);
		}
	}
}

/* sections styles */
section {
	.header {
		@include position-flex-center();
		margin-top: 1rem;
		flex-direction: column;

		h1 {
			margin-top: 1rem;
		}
	}

	.content {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		padding: 3rem;

		@include breakpoint(max, 1159px) {
			padding-bottom: 10rem;
		}
	}
}

/* todo styles */
.todo {
	@include box-props();
	width: fit-content;
	max-width: __convertToRem($value: 800px);
	height: auto;
	padding: 1.5rem;
	margin: 1.5rem;
	padding-right: 2.8rem;

	@include breakpoint(min, 720px) {
		min-width: __convertToRem($value: 558px);
	}

	ul {
		@include position-flex-center();
		font-size: __convertToRem($value: 12px) !important;
		flex-direction: column;
		list-style-type: none;

		li {
			border: solid #eee 1px;
			width: fit-content;
			max-width: __convertToRem($value: 400px);
			margin: 0.5rem;
			padding-top: 0.8rem;
			padding-left: 0.5rem;
			padding-right: 0.5rem;
			border-radius: 10px;
			transition: all 0.3s;

			&:hover {
				@include animation-scale($scaleValue: 1.05);
				background-color: $theme-bg;
			}
		}
	}

	&-header {
		@include position-flex-center();
		margin-left: 1.3rem;
		flex-direction: column;
	}

	&-list {
		margin-right: 1rem;
	}

	&-footer {
		@include position-flex-center();
		flex-direction: column;
		gap: 1.8rem;
		margin-top: 1rem;
		margin-left: -3.5rem;

		button {
			@include btn-style();
			margin-left: 3.8rem;
		}
	}
}

/* traker styles */
.tracker {
	@include box-props();
	padding: 2rem;
	border-radius: 10px;
	max-width: __convertToRem($value: 904px);
	min-width: __convertToRem($value: 845px);
	@include breakpoint(max, 845px) {
		min-width: 100%;
	}

	@include breakpoint(max, 444px) {
		min-width: __convertToRem($value: 348px);
	}

	.highlighted {
		position: relative;
		background-color: transparent;
	}

	.highlighted:before {
		@include magic-spaceInLeft($duration: 0.3s);
		width: 50%;
		content: '';
		position: absolute;
		top: 40%;
		left: 25%;
		right: 25%;
		height: 3px;
		background-color: rgba(194, 194, 194, 0.533);
		z-index: 1;
		border-radius: 70%;
	}

	&-header {
		min-width: __convertToRem($value: 215px);
		padding: 1rem;

		svg {
			margin-top: -3rem;
		}

		h2 {
			font-size: __convertToRem($value: 23px);
			text-align: center;
		}

		div {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;

			button {
				@include btn-style($theme: $theme3);
				margin: 0.5rem;
				padding-top: 0.5rem;
				padding-bottom: 0.5rem;
				padding-left: 1.3rem;
				padding-right: 1.3rem;

				img {
					@include image-responsive($height: 50px);
				}
			}

			.btn-clicked-include {
				background-color: #46b678;
			}

			.btn-clicked-exclude {
				background-color: #b66646;
			}
		}
	}

	&-content {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;

		.item {
			border: solid #eee 1px;
			border-radius: 10px;
			width: fit-content;
			padding: 1rem;
			margin: 1rem;
			transition: all 0.3s;

			&:hover {
				@include animation-scale($scaleValue: 1.03);
				background-color: $theme-bg;
			}

			h3 {
				text-align: center;
			}

			ul {
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;
				gap: 0.5rem;
				flex-wrap: wrap;
				list-style-type: none;
				margin-left: -2rem;
				margin-right: 0.2rem;

				li {
					padding: 0.5rem;
					border-radius: 5px;
				}
			}

			button {
				opacity: 50%;
				border-radius: 100%;
				padding-top: 0.3rem;
				border: none;
				margin: 0.3rem;

				&:hover {
					opacity: 85%;
				}

				&:active {
					transition: 0.02s;
					transform: scale(0.95);
					box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
				}
			}
		}
	}
}

/* note styles */
.note {
	@include box-props();
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 2rem;
	margin: 2rem;
	min-width: __convertToRem($value: 500px);

	@include breakpoint(max, 585px) {
		width: 90%;
		min-width: __convertToRem($value: 200px);
	}

	&-header {
		svg {
			margin-left: 0.52rem;
		}

		h2 {
			text-align: center;
		}

		p {
			text-align: center;
		}
	}

	&-content {
		width: 100%;

		textarea {
			resize: vertical;
			width: 100%;
			min-height: __convertToRem($value: 100px);
			max-height: __convertToRem($value: 250px);
			padding: 12px 20px;
			box-sizing: border-box;
			border: 2px solid #ccc;
			border-radius: 4px;
			background-color: rgb(212, 212, 212);
			color: #444;
		}
	}

	&-footer {
		@include position-flex-center();
		margin-left: 3.8rem;
		align-items: baseline;
		width: 80%;

		button {
			background-color: #646464;
			border-radius: 10px;
			margin-top: 1rem;
			padding: 0.5rem;
			margin: 0.8rem;

			&:hover {
				background-color: $theme1;
			}

			span {
				@include position-flex-center();
				gap: 0.5rem;
			}
		}

		input[type='file'] {
			appearance: button;
			width: 100%;
		}
	}
}

/* timer styles */
.timer {
	@include box-props();
	padding: 2rem;
	margin: 2rem;
	width: __convertToRem($value: 330px);
	max-width: __convertToRem($value: 400px);

	&-header {
		text-align: center;

		h2 {
			font-size: __convertToRem($value: 26px);
			text-align: center;
			margin-bottom: 40px;
		}
	}

	&-content {
		margin: 1rem;
		display: flex;
		justify-content: center;

		.time-content {
			position: relative;
			width: 80px;
			height: 60px;
			font-size: 48px;
			font-family: 'Montserrat';

			span {
				font-size: __convertToRem($value: 23px);
				margin-left: 0.2rem;
			}

			.time {
				font-size: __convertToRem($value: 40px);
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				transform: translateY(0);
				opacity: 0.9;
				transition: all 0.2s;

				&.up {
					opacity: 0;
					transform: translateY(-100%);
				}

				&.down {
					opacity: 0;
					transform: translateY(100%);
				}
			}
		}
	}

	&-options {
		form {
			margin-top: 1rem;
			@include position-flex-center();

			input {
				width: 60%;
				padding: 0.2rem;
				padding-left: 0.5rem;
				border-radius: 5px;
				background-color: #cac8c8;
				color: #525252;
				font-size: __convertToRem($value: 16px);
				text-align: center;
				transition: all 0.2s;
			}

			input:focus {
				outline: none;
				font-size: __convertToRem($value: 18px);
				font-weight: bold;
			}
		}

		ul {
			display: flex;
			justify-content: center;
			flex-direction: row;
			align-items: center;
			flex-wrap: wrap;
			gap: 0.5rem;
			list-style-type: none;
			margin-right: 2.5rem;
		}

		button {
			@include btn-style($theme: $theme3);
			margin: 0.35rem;
		}

		.btn-preset-toggle {
			background-color: $theme1;
		}
	}
}

/* chrono styles (extras) */
.chrono {
	@include box-props();
	padding: 2rem;
	margin: 2rem;

	h3 {
		font-size: __convertToRem($value: 20px);
	}

	.stopwatch {
		@include position-flex-center();
		flex-direction: column;
		text-align: center;

		button {
			@include btn-style($theme: $theme1);
			margin: 0.35rem;
			padding: 0.5rem;
			background-color: #696969;
		}

		&__display {
			font-size: 30px;
			border: solid 10px $theme1;
			border-radius: 100%;
			padding: 1rem;
			margin: 1.5rem;
			max-width: __convertToRem($value: 150px);
		}

		&__history {
			font-size: larger;
			font-weight: bolder;

			button {
				&:hover {
					background-color: $theme1;
				}
			}
		}
	}

	ul {
		margin-top: __convertToRem($value: 20px);
		list-style-type: none;
		padding: 0;
		max-height: __convertToRem($value: 100px);
		overflow-y: scroll;
		border: solid 2px $theme1;
		border-radius: 10px;
	}

	li {
		padding: 5px;
		border-bottom: 1px solid #b66646;
		font-size: __convertToRem($value: 21px);
	}

	li:last-child {
		display: none;
	}
}

/* swiper styles */
.swiper {
	max-width: __convertToRem($value: 350px);
	margin-top: 2rem;
	margin-bottom: 3.2rem;

	&-item {
		@include position-flex-center();
		flex-direction: column;
		padding: 2rem;
		padding-top: 3rem;
		height: auto;
		min-height: __convertToRem($value: 400px);

		h2 {
			text-align: center;
		}

		hr {
			@include hr-style();
		}

		ul {
			list-style-type: none;

			li {
				font-size: __convertToRem($value: 16px) !important;
				line-height: 1.2rem;
				margin-top: 1.2rem;
			}

			li::before {
				list-style-type: none;
				content: '\2022';
				color: $theme1;
				font-weight: bolder;
				display: inline-block;
				width: 1em;
				margin-left: -1em;
			}
		}
	}

	&-icon {
		@include position-flex-center();
	}

	&-slide {
		@include box-props();
		@include position-flex-center();
	}
}

/* react-icons styles */
.delete-icon {
	float: right;
	background-color: rgba(255, 68, 0, 0.24);
	border-radius: 5px;
	font-size: 22px;
	margin-left: 0.3rem;
	padding: 0.2rem;
	transition: all 0.3s;

	&:hover {
		background-color: rgba(255, 68, 0, 0.541);
	}
}

/* questions styles (accordion) */
.questions {
	@include box-props();
	margin: 2rem;
	padding: 5rem;
	width: auto;
	min-width: __convertToRem($value: 400px);

	&-header {
		@include position-flex-center();
		flex-direction: column;
		text-align: center;

		svg {
			margin-top: -3rem;
		}

		h2 {
			font-size: __convertToRem($value: 30px);
		}

		hr {
			margin-bottom: 2rem;
		}
	}

	&-content {
		.accordion {
			border-radius: 10px;
			max-width: __convertToRem($value: 350px);

			h3 {
				font-size: __convertToRem($value: 20px);
			}

			ul {
				li {
					font-size: __convertToRem($value: 20px);
				}
			}
		}

		.accordion__item + .accordion__item {
			border-top: 10px solid rgba(0, 0, 0, 0);
		}

		.accordion__button {
			background-color: #dbdbdb;
			color: #444;
			cursor: pointer;
			padding: 15px;
			width: 105%;
			text-align: left;
			border-radius: 12px;
			transition: all 0.3s;
			font-weight: bolder;

			&:hover {
				background-color: $theme2;
				color: #eee;
			}

			&:before {
				display: inline-block;
				content: '';
				height: 10px;
				width: 10px;
				margin-right: 12px;
				border-bottom: 2px solid currentColor;
				border-right: 2px solid currentColor;
				transform: rotate(-45deg);
			}
		}

		.accordion__button[aria-expanded='true']::before,
		.accordion__button[aria-selected='true']::before {
			transform: rotate(45deg);
		}

		[hidden] {
			display: none;
		}

		.accordion__panel {
			padding: 20px;
			@include animation-pulse();
		}
	}
}

/* swal styles */
.swal2 {
	&-popup {
		background-color: rgba(68, 68, 68, 0.96) !important;
		width: fit-content !important;
		min-width: __convertToRem($value: 222px) !important;
		max-width: __convertToRem($value: 1000px) !important;
		animation-duration: 0.4s !important;

		ul {
			li {
				width: 100%;
			}
		}
	}

	&-title {
		color: $theme1 !important;
	}

	&-confirm {
		display: none !important;
	}
}

.swal--anim {
	&-show {
		@include animation-zoom($in-out: in);
	}

	&-hide {
		@include animation-zoom($in-out: out);
	}
}

body.swal2-shown > [aria-hidden='true'] {
	transition: 0.1s filter;
	filter: blur(10px);
}
