@charset "UTF-8";

@import 'sass-eo-basics';
@import 'sass-eo-bootstrap-grid';

@include normalize();
@include loadify(init);

* {
	color: #eee;
	font-size: __convertToRem($value: 18px);
}

body {
	background-color: #333;
}
